{% extends 'myApp/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}

<body>
    <div class='container bg-light shadow-md p-5'>
        <h3>Update record</h3>
        <h6>make changes to existing record</h6>
        <hr>
        <br>
        <form method="POST" autocomplete='off'>
            {% csrf_token %}
            {{ form4|crispy }}
            <br>
            <button type='submit' class='btn btn-primary w-100 btn-block p-2'>Update</button>
        </form>
    </div>
</body>




{% endblock content %}